{% extends 'base.html.twig' %}

{% block title %}Edit Workplace{% endblock %}

{% block body %}
    <h1>Edit Workplace</h1>

    {{ include('Admin/workplace/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('workplace_index') }}">back to list</a>

    {{ include('Admin/workplace/_delete_form.html.twig') }}
{% endblock %}