{% extends 'base.html.twig' %}

{% block body %}

<div class="">
    <h1>
        {{ article.title }}
    </h1>

    <p>
        {{ article.contents }}
    </p>

    <p>
        {% for category in article.category %}
            {{ category.name }}
        {% endfor %}
    </p>
    <p>
        écrit par {{ article.user.fullname }}
    </p>
</div>

{% endblock body %}